# probably due to M1 (check if this can be relaxed)
numpy>=1.26.4

sbmlutils>=0.8.7
libroadrunner>=2.2.2
pytensor==2.10.1
pymc==5.1.2
pandas
matplotlib
petab>=0.2.9
pypesto>=0.5.1
amici>=0.24.0
# mkl>=2024.1.0
# mkl-service>=2.4.1.0
# sudo apt-get -y install libmkl-full-dev

# testing
black>=22.1.0
isort>=5.10
mypy>=0.931
pytest>=7.0.1
rich
xarray
graphviz

